@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 1320px;
    width: 80%;
    margin: 20px auto;
}
h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
}
h4{
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}
p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}



.header-content{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/header.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.header-content p{
    padding-top: 150px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.header-content h2{
    width: 550px;
    margin: 20px auto 100px;
    padding-bottom: 250px;
    color: #FFF;
    text-align: center;
    font-size: 52px;
    font-weight: 900;

}
.offer-content h1{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.offer-content h4{
    text-align: center;
    margin-top: 30px;
}
.offer-content h2{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.offer-img{
    width: 800px;
    margin: 30px auto 50px;
}
.greetings{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.greetings-text *{
    margin-left: 100px;
}
.greetings-text h1{
    width: 550px;
    color: #FFF;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.greetings-text p{
    width: 600px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 10px;
    font-weight: 400;
    margin-top: 20px;
}
.greetings-text .join-now{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}
.greetings-img{
    width: 250px;
    margin: 80px 100px;
}
.date{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.date-text{
    width: 400px;
    margin: 100px auto 20px;
    text-align: center;
    color: #070211;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-top: 100px;
}
.date-text *{
    margin-bottom: 10px;
}
.date-text{
    color: #F00;
}
.btn{
    margin-top: 30px;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.coming-soon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
}
.coming-soon .new-product{
    width: 440px;
}
.coming-soon .new-product *{
    padding-bottom: 10px;
}
.coming-soon .celebrate-img{
    width: 440px;
}
.coming-soon .celebrate-img img{
    border: 10px solid #F00;
    border-radius: 440px;
    padding: 20px;
}
.coming-soon .new-year{
    width: 440px;
    margin-left: 50px;
}
.coming-soon .new-year h2{
    color: #F00;
    padding-bottom: 10px;
}
.best-gift{
    margin: 100px 0;
}
.best-gift-text h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    padding: 10px 0;
}
.best-gift-text .gift-description{
    width: 65%;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
.product-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-img .row-img{
    width: 32%;
    margin-top: 30px;
}
.product-img .row-img img{
    width: 100%;
    height: auto;
    transition: transform 0.6s ease;
}
.product-img .row-img img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.newsletter{
    background-color: rgba(255, 0, 0, 0.05);
    padding-bottom: 50px;
}
.newsletter-content{
    width: 55%;
    margin: 50px auto;
    text-align: center;
    padding-top: 50px;
}
.newsletter-content h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 10px;
}
.newsletter-content p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
.newsletter form{
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.newsletter form input{
    flex-grow: 1;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 20px;
    border: 0;
    border-radius: 50px 0px 0px 50px;
}
.newsletter form button{
    border: 0;
    border-radius: 0px 50px 50px 0px;
    padding: 10px 20px;
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}
.footer-part{
    max-width: 1600px;
    margin-top: 60px;
    background: #070211;
    color: #FFF;
}
.footer-part .address{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 20px 0;
}
.footer-part hr{
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.icon{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 20px;
}
.icon img{
    width: 45px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 20px;
}

